//Start header
.header {
  position: fixed;
  width: 100%;
  z-index: 20;
  &__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 8px;
  }
  &__logo {
    img {
    }
  }
  &__menu {
    transition: all 0.6s;
    .header__mobile-content {
      display: none;
      transition: all 0.6s;
    }
    display: flex;
    li {
      & + li {
        padding-left: 30px;
      }
      a {
        font-size: 18px;
        line-height: 21px;
        &:hover,
        &:focus {
          color: $blue;
        }
      }
    }
    //Start mobile menu
    &.active {
      display: flex;
      flex-direction: column;
      position: absolute;
      left: 0;
      right: 0;
      top: 40px;
      bottom: 0;
      opacity: 1;
      padding: 40px 0 0 0;
      align-items: center;
      background: #202633;
      height: 100vh;
      transition: all 0.6s;
      .header__mobile-content {
        display: block;
        .mobile__contacts {
          padding-top: 25px;
          text-align: center;
          span {
            display: block;
            margin-bottom: 10px;
            a {
              font-size: 16px;
            }
          }
        }
        .mobile__menu-btn {
          margin-top: 25px;
        }
        .mobile__btn {
          font-size: 16px;
          color: $wblue;
          border: 1px solid $wblue;
          background-color: transparent;
          padding: 9px;
          cursor: pointer;
          &:focus {
            color: $white;
          }
        }
      }

      li {
        padding-left: 0;
        margin-top: 20px;
        a {
          color: $white;
          &:focus {
            color: $blue;
          }
        }
      }
    }
    //End mobile menu
  }
  &__social {
    display: flex;
    li {
      & + li {
        padding-left: 20px;
      }
      a {
      }
    }
  }
  &__contacts {
    span {
      display: block;
      a {
        font-size: 14px;
        line-height: 17px;
      }
    }
  }
}
.burger__menu {
  display: none;
  cursor: pointer;
  width: 30px;
  height: 20px;
  position: relative;

  .burger__line1,
  .burger__line2,
  .burger__line3 {
    position: absolute;
    width: 100%;
    height: 2px;
    background-color: $black;
    transition: all 0.6s ease;
  }
  .burger__line1 {
    top: 0;
    left: 0;
  }
  .burger__line2 {
    top: 8px;
    left: 0;
  }
  .burger__line3 {
    top: 16px;
    left: 0;
  }
  &.active {
    .burger__line1 {
      transform: rotate(320deg);
      top: 7px;
      transition: all 0.6s ease;
    }
    .burger__line2 {
      transform: scale(0);
      transition: all 0.6s ease;
    }
    .burger__line3 {
      transform: rotate(-320deg);
      top: 7px;
      transition: all 0.6s ease;
    }
  }
}

// Header content start

.slider__content {
  max-width: 469px;
  padding-top: 126px;
  padding-bottom: 145px;
}
.slider__content-title {
  font-size: 36px;
  line-height: 42px;
  color: $black;
  position: relative;
  margin-bottom: 40px;
  span {
    color: $blue;
    font-weight: 700;
  }
  &::after {
    content: "";
    position: absolute;
    width: 100px;
    height: 2px;
    background-color: $wblue;
    left: 0;
    bottom: -15px;
  }
}
.slider__content-info {
  flex-wrap: wrap;
  display: flex;
  margin-bottom: 40px;
}
.slider__content-info-item {
  font-size: 24px;
  padding-left: 60px;
  line-height: 29px;
  font-weight: 600;
  margin-right: 20px;
  margin-bottom: 20px;
  position: relative;
  p {
    font-size: 16px;
    line-height: 20px;
    font-weight: 300;
  }
  &:nth-child(1)::before {
    content: "";
    position: absolute;
    background-image: url(../images/header__slider/stavka.png);
    width: 100px;
    height: 100px;
    left: 0;
    background-repeat: no-repeat;
  }
  &:nth-child(2)::before {
    content: "";
    position: absolute;
    background-image: url(../images/header__slider/desision.png);
    width: 100px;
    height: 100px;
    left: 0;
    background-repeat: no-repeat;
  }
  &:nth-child(3)::before {
    content: "";
    position: absolute;
    background-image: url(../images/header__slider/time.png);
    width: 100px;
    height: 100px;
    left: 0;
    background-repeat: no-repeat;
  }
}
.slider__content-btn {
  background: #56abf7;
  box-shadow: 0px 0px 20px #56abf7;
  border-radius: 5px;
  font-size: 18px;
  line-height: 22px;
  color: $white;
  padding: 9px 0;
  text-align: center;
  max-width: 270px;
  width: 100%;
  cursor: pointer;
}
// Header content end
// Header slider start

.header__slider {
  background-color: #f7f9fb;
  position: relative;
}
.swiper-container {
  padding-top: 162px;
}
.swiper-slide {
  background-repeat: no-repeat;
  background-position-x: right 165px;
  background-size: contain;
  z-index: 20;
}

.swiper-pagination {
  padding-left: 20px;
  z-index: 10;
}
.swiper-pagination-bullet {
  width: 10px;
  height: 10px;
  & + & {
    margin-left: 10px;
  }
}

// Header slider end
